* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: gilory;
    color: rgb(27, 27, 26);
}

html,
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#page1{
    height:100%;
    width:100%;
    background-color: black;
}
#page2{
    height:100%;
    width:100%;
    background-color: rgb(138, 204, 171);
    padding: 20px;
}
#page3{
    height:100%;
    width:100%;
    background-color: black;
}

#page2 h1{
    font-size: 40vw;
    font-weight: 500;
    text-transform: uppercase;

}