* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: beige;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 100px;
    /* background-color: rgb(130, 89, 34); */
    overflow: hidden;
}

h1 span{
    display: inline-block;
}