*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
    color:#2e2c2c;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: #e0a585ff;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: rgba(138, 74, 234, 1);
}
#box3{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
}
#nav{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
#part2{
    display: flex;
    gap: 50px;
}
h1{
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    white-space: nowrap; 
    /* to get text in a single line */
}