*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: #e0a585ff;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: rgba(138, 74, 234, 1);
}
#box3{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
}
